$strongBlue : #1F253D;
$darkBlue : #222841;
$darkBlue2 : #394264;
$mediumBlue : #3468AF;
$mediumBlueTwo : #35AADC;
$thinBlue : #4FC4F6;
$darkBlue3 : #2D3450;
$strongRed : #CC324B;
$red : #E64C65;
$hoverMenu : #50597B;
$stronGreen : #416F89;
$green : #0CB1B1;
$yellow : #FFBC4D;
$whiteText : #FDFDFD;
$greenLow : #11a8ab;
$inactive : #9099b7;