<div class="searchForm">

	<div class="row">
		<div class="col">
			<div class="addnew">
		  	  <h4 style="color:#fff" ng-hide="dash.prodID">Añadir nuevo producto</h4>
		  	  <h4 ng-hide="!dash.prodID" style="color:#fff">Editar {{dash.prodName}}</h4>
		  	  <!-- id prod -->
		  	  <input type="hidden" ng-model="dash.prodID">
		  	  <div style="margin-bottom:1em;">
		  	  <input ng-model="dash.prodName" type="text" class="text-input text-input--underbar"
			  placeholder="Nombre" value="" required style="width:95%">
			  </div>
			  <div style="margin-bottom:1em;">
			  <input type="number" ng-model="dash.prodPrice" min="1" class="text-input text-input--underbar"
			  placeholder="Precio" value="" required style="width:95%">
			  </div>
			  <div style="margin-bottom:1em;">
			  <select class="text-input text-input--underbar" ng-model="dash.prodCat" required style="width:95%">
			  <option value="">- Elija una categoría -</option>
				<option ng-repeat="cat in dash.categorias | orderBy : name" value="{{cat.name}}">{{cat.name}}</option>
			  </select>
			  
			  </div>
			  <button style="width:93.5%;margin-top:1em;padding:4px 10px !important" ng-click="dash.saveProd()" class="button btn actionButton" style="margin-left:25px;" analytics-on="click" analytics-event="Guardar Producto" analytics-category="Comandos">Guardar producto</button>
		  	</div>
		</div>
		<div class="col">
		<input type="search" ng-model="searchProd" class="search-input"
  placeholder="Buscar..." style="width: 100%; border-radius:0; height:40px;">

			<div class="listWrapper">
				<table class="listaTabla" cellpadding="0" cellspacing="0" style="width:100%">
					<thead>
						<tr>
							<th>Acciones</th>
							<th ng-click="predicate = 'name'; reverse=false">Nombre</th>
							<th ng-click="predicate = 'price'; reverse=false">Precio</th>
							<th ng-click="predicate = 'category'; reverse=false">Categoría</th>
						</tr>
					</thead>
					<tr ng-repeat="producto in dash.productos | filter : searchProd | startFrom : dash.currentPage*dash.pageSize | limitTo : dash.pageSize | orderBy:predicate:reverse" ng-click="dash.prodDetails(producto.id)">
						<td ng-click="dash.delProd(producto.id)" analytics-on="click" analytics-event="Borrar Producto" analytics-category="Comandos">
							<a href="#">
								<i class="icon ion-close-circled"></i>
							</a>
						</td>
						<td>{{producto.name}}</td>
						<td>{{producto.price |  currency}}</td>
						<td>{{producto.category}}</td>
					</tr>
					<tr>
					<td></td>
						<td>
							<button class="button navigation button--quiet" ng-disabled="dash.currentPage == 0" ng-click="dash.currentPage=dash.currentPage-1">
						       < Anterior
						    </button>
						</td>
						<td>
							 {{dash.currentPage+1}}/{{dash.numberOfPages()}}
						</td>
						<td>
							<button class="button navigation button--quiet" ng-disabled="dash.currentPage >= dash.productos.length/dash.pageSize - 1" ng-click="dash.currentPage = dash.currentPage+1">
						        Siguiente >
						    </button>
						</td>
					</tr>
					
				   
				    
					
				</table>
			</div>
		</div>
	</div>
  	

	

</div>