<div class="tab-bar tab-bar--top tab-bar--top-border">
  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b" checked="checked">
    <button ui-sref="app.dashboard" class="tab-bar__button tab-bar--top-border__button">
      <i class="icon ion-heart"></i> Productos
    </button>
  </label>

  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b">
    <button ui-sref="app.categorias" class="tab-bar__button tab-bar--top-border__button">
      <i class="icon ion-pin"></i> Categorías
    </button>
  </label>

  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b">
    <button ui-sref="app.clientes" class="tab-bar__button tab-bar--top-border__button">
      <i class="icon ion-person"></i> Clientes
    </button>
  </label>

  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b">
    <button class="tab-bar__button tab-bar--top-border__button">
      <i class="icon ion-stats-bars"></i> Reportes
    </button>
  </label>

  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b">
    <button class="tab-bar__button tab-bar--top-border__button">
      <i class="icon ion-lock-combination"></i> Seguridad
    </button>
  </label>

  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b">
    <button class="tab-bar__button tab-bar--top-border__button">
      <i class="icon ion-gear-a"></i> Ajustes
    </button>
  </label>

  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b">
    <button class="tab-bar__button tab-bar--top-border__button">
      <i class="icon ion-android-exit"></i> Salir
    </button>
  </label>
</div>