<ons-page class="relative" style="height:80vh">

  <div class="login-form center">
	<img src="app/img/logo.png" alt="Vigets" style="width:30%">
	<h1 style="color:#fff;display:block;margin-top:-0.2em;">Vigets</h1>
    <input type="email" class="text-input--underbar" placeholder="Email" value=""  style="color:#fff" ng-model="init.userMail">
    <input type="password" class="text-input--underbar" placeholder="Password" value="" ng-model="init.userPass" style="color:#fff">
    <br><br>
    <ons-button modifier="large" ng-click="init.login()"  class="button login-button">Log In</ons-button>
    <br><br>
    <ons-button modifier="quiet" class="forgot-password button button--quiet">Forgot password?</ons-button>
  </div>

</ons-page>