<div class="settings-menu">
	<h1 class="settings-title">General</h1>
	<ul class="menu">
		<li>
			<i class="icon ion-checkmark-round" ng-class="{'active' : settings.opts.tour}"></i>
			<i class="icon ion-printer"></i> ¿Mostrar "Tour" al inciar?  
		</li>
		<li><i class="icon ion-alert-circled"></i> ¿Avisar cuando un producto esté bajo de stock?</li>
		<li><i class="icon ion-heart"></i> ¿Notificar cumpleaños de clientes?</li>
		<li><i class="icon ion-lock-combination"></i> ¿Iniciar sesión automáticamente?</li>
	</ul>
</div>